<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAgregar">
    Add permission
  </button>
  
<!--   <div>
    <input placeholder="Search asset" [(ngModel)]="buscar">
  <button (click)="busqueda()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalBuscar"> Search</button>
  </div> -->
  <!-- Listar  -->
  <table class="table-sm table-striped">
    <thead>
      <tr>
          
       
          
        
        <th scope="col">id</th>
        <th scope="col">rol</th>        
        <th scope="col">Asset</th>
        <th scope="col">puede leer</th>
        <th scope="col">puede insertar</th>
        <th scope="col">puede editar</th>
        <th scope="col">puede eliminar</th>
        <th scope="col">Editar permission</th>
        <th scope="col">Eliminar permission</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let element of objectArray">
        <td>{{ element.id }}</td>
        <td>{{ element.role_id }}</td>
        <td>{{ element.asset_id }}</td>
        <td>{{ element.can_read }}</td>
        <td>{{ element.can_insert }}</td>
        <td>{{ element.can_update }}</td>
        <td>{{ element.can_delete }}</td>

        
        <td><button (click) ="editar(element)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalEditar">
            Editar
          </button></td>
        <td><button (click)="eliminar(element)" class="btn btn-danger">Eliminar</button></td>
        
      </tr>
  
      
    </tbody>
    <tfoot>
        <tr>
          
        <ul class="pagination ">
          <li class="page-item">
              <a button (click)="AnteriorPagina()"class="page-link"  > Página Anterior </a>
          </li>
          <li class="page-item disabled">
              <a button class="page-link"  > {{paginaAnterior}} </a>
          </li>
          <li class="page-item active">
              <a button class="page-link"  > {{paginaActual}} </a>
          </li>
          <li class="page-item disabled">
              <a class="page-link"  > {{paginaSiguiente}} </a>
          </li>
          <li>
              <a button (click)="SiguientePagina()"class="page-link "  > Página siguiente </a>
          </li>
        </ul>
        
        </tr>
      </tfoot>
  
  </table>
  
  <!-- Modal Editar -->
  <div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editar </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
          


          <table class="table-responsive table-sm table-striped">
              <thead>
                <tr>
                    
                 
                    
                  
                  
                  <th scope="col">rol</th>        
                  <th scope="col">Asset</th>
                  <th scope="col">puede leer</th>
                  <th scope="col">puede insertar</th>
                  <th scope="col">puede editar</th>
                  <th scope="col">puede eliminar</th>
               
                </tr>
              </thead>
              <tbody>
                <tr >
                  <td><input placeholder="Editedrole_id" [(ngModel)]="Editedrole_id"></td>
                  <td><input placeholder="Editedasset_id" [(ngModel)]="Editedasset_id"></td>
                  <td><input placeholder="Editedcan_read" [(ngModel)]="Editedcan_read"></td>
                  <td><input placeholder="Editedcan_insert" [(ngModel)]="Editedcan_insert"></td>
                  <td><input placeholder="Editedcan_update" [(ngModel)]="Editedcan_update"></td>
                  <td><input placeholder="Editedcan_delete" [(ngModel)]="Editedcan_delete"></td>
                  
                  
                  
                 
                </tr>
              
            
                
              </tbody>
              
            </table>
            
         
  
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button (click) ="patch()" type="button" class="btn btn-primary" data-dismiss="modal">Guardar Cambios</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal Agregar -->
  <div class="modal fade" id="modalAgregar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar asset </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        
        
        <input placeholder="Ingresa el rol "    [(ngModel)]="role_id">
        <input placeholder="Ingresa el id del asset "    [(ngModel)]="asset_id">
        <input placeholder="Puede leer? "    [(ngModel)]="can_read">
        <input placeholder="Puede insertar? "    [(ngModel)]="can_insert">
        <input placeholder="Puede actualizar? "    [(ngModel)]="can_update">
        <input placeholder="Puede eliminar? "    [(ngModel)]="can_delete">

        
        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button (click) ="agregar()" type="button" class="btn btn-primary" data-dismiss="modal">Add asset</button>
        </div>
      </div>
    </div>
  </div>
  
   <!-- Modal Búsqueda -->
  <!--  <div class="modal fade" id="modalBuscar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Resultado de la búsqueda </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body  modal-lg">
          <div class="table-responsive">
          <table class="table-sm table-striped">
            <thead>
              <tr>
                
                
                <th scope="col">id</th>
                <th scope="col">name</th>
                
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let element of objectArray">
                <td>{{ element.id }}</td>
                <td>{{ element.name }}</td>
                
                <td><button (click) ="editar(element)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalEditar" data-dismiss="modal">
                    Editar
                  </button></td>
                <td><button (click)="eliminar(element)" class="btn btn-danger">Eliminar</button></td>
                
              </tr>
              
          
              
            </tbody>

            <tfoot>
                <tr>
                  
                <ul class="pagination ">
                  <li class="page-item">
                      <a button (click)="AnteriorPagina()"class="page-link"  > Página Anterior </a>
                  </li>
                  <li class="page-item disabled">
                      <a button class="page-link"  > {{paginaAnterior}} </a>
                  </li>
                  <li class="page-item active">
                      <a button class="page-link"  > {{paginaActual}} </a>
                  </li>
                  <li class="page-item disabled">
                      <a class="page-link"  > {{paginaSiguiente}} </a>
                  </li>
                  <li>
                      <a button (click)="SiguientePagina()"class="page-link "  > Página siguiente </a>
                  </li>
                </ul>
                
                </tr>
              </tfoot>
          
          </table>
          
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          
        </div>
      </div>
    </div>
  </div> -->
  